@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Shadows+Into+Light&display=swap');


@font-face {
    font-family: 'Passion One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url();
}

@font-face {
    font-family: 'Shadows Into Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url();
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3:'Shadows Into Light', cursive;
}

header{
    background-color: black;
    text-align: center;
    color: white;
}
header h1{
    font-size: 10vw;
    font-variant: small-caps;
    padding-top: 50px;
    font-family: var(--fonte2);
    }
header p{
    padding-bottom: 50px;
    font-size: 1em;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
    font-family: var(--fonte3);
    text-align: center;
}
section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    color: white;
}

section.imagem > p{
    margin: auto;
    display: inline-block;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.459);

}

section#img01{
    background: black url('../imagens/background001.jpg') center right no-repeat fixed;
    background-size: cover;
}
section#img02{
    background: black url(../imagens/background002.jpg) center right no-repeat fixed;
    background-size: cover;
}

footer{
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}
